In [8]:
import pandas as pd
from bokeh.plotting import figure, output_file, show
     
#p=figure(plot_width=500,plot_height=400, tools='pan',logo=None)
     
#p.title.text="Cool Data"
#p.title.text_color="Gray"
#p.title.text_font="times"
#p.title.text_font_style="bold"
#p.xaxis.minor_tick_line_color=None
#p.yaxis.minor_tick_line_color=None
#p.xaxis.axis_label="Date"
#p.yaxis.axis_label="Intensity"    
     
#p.line([1,2,3],[4,5,6])
#output_file("graph.html")
#show(p)

#http://www.google.com/finance/historical?q=NASDAQ:ADBE&startdate=Jan+01%2C+2009&enddate=Aug+2%2C+2012&output=csv
df = pd.read_csv("adbe.csv", parse_dates = ["Date"])
df.head()
#x = (df["Temperature"] - 32) * 5.0 / 9
#y = df["Pressure"] / 10

#output_file("Exercise5.html")

        Date   Open   High    Low  Close   Volume
0 2012-08-02  30.46  30.83  30.25  30.58  2639980
1 2012-08-01  31.05  31.17  30.64  30.69  2738740
2 2012-07-31  30.99  31.27  30.84  30.88  2662853
3 2012-07-30  31.89  31.95  30.92  31.01  4261193
4 2012-07-27  31.26  32.00  31.17  31.90  3312890

In [16]:
p = figure(plot_width=500, plot_height=250, x_axis_type = "datetime", sizing_mode = 'scale_width')
output_file("Exercise5.html")
p.line(df["Date"], df["Close"], color = "Orange")
show(p)